services:
  - type: web
    name: weather-info-service
    env: java
    region: oregon
    plan: free
    buildCommand: ./gradlew clean build -x test
    startCommand: java -jar build/libs/weather-info-0.0.1-SNAPSHOT.jar
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: OPEN_WEATHER_API_KEY
        sync: false
      - key: OPEN_WEATHER_API_HOST
        value: https://api.openweathermap.org
      - key: JAVA_TOOL_OPTIONS
        value: -Xmx512m -Xms256m

